<div class="w-5/6 mt-6 mx-auto">
    <div class="md:flex md:items-center mb-6">
        <div class="md:w-1/5">    
            <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="title">title</label>
        </div>
        <div class="md:w-2/3">
            <input required value="<%= article.title %>" type="text" name="title" id="title" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" >
        </div>
    </div>

    <div class="md:flex md:items-center mb-6">
        <div class="md:w-1/5">
            <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="create_by">username</label>
        </div>
        <div class="md:w-2/3">
            <input required readonly="readonly" value="<%= username %>" type="text" name="create_by" id="create_by" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none" >
        </div>
    </div>

    <div class="md:flex md:items-center mb-6">
        <div class="md:w-1/5">
            <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="description">description</label>
        </div>
        <div class="md:w-2/3">
            <textarea name="description" id="description" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500"><%= article.description %></textarea>
        </div>
    </div>

    <div class="md:flex md:items-center mb-6">
        <div class="md:w-1/5"> 
            <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="markdown">markdown</label>
        </div>
        <div class="md:w-2/3">
        <textarea required name="markdown" id="markdown" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500"><%= article.markdown %></textarea>
        </div>
    </div>


    <div class="md:flex md:items-center text-center justify-around">
        
        <div >
            <button type="submit" class="btn shadow bg-black hover:bg-slate-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">save</button>
        </div>
        <div >
            <a href="/articles" class="btn shadow bg-black hover:bg-slate-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">cancel</a>
        </div>
    </div>
</div>
